{% load thumbnail %}
<div class="card mb-3 mt-1 shadow-sm">
  <div class="card-body">
    <p class="card-text">
      <a href="">
        <strong class="d-block text-gray-dark">
          @{{ review.author.username }}
        </strong>
      </a>
    <p>{{ review.text|linebreaksbr }}</p>
    </p>
    {% endthumbnail %}
    <hr>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group ">
        <a class="btn btn-sm text-muted" href="" role="button">
          {% if user.is_authenticated %}
          Добавить комментарий
            {% if review.comments.exists %}
            ({{ review.comments.count }})
            {% endif %}
          {% else %}
          Посмотреть пост
          {% endif %}
        </a>
        {% block comment %}
        {% if user == author %}
        <a class="btn btn-sm text-muted" href="" role="button">
          Редактировать
        </a>
        {% endif %}
        {% endblock %}
      </div>
      <small class="text-muted">{{ review.pub_date|date:"d E Y" }} г.</small>
    </div>
  </div>
</div>